<div *nzModalTitle>
	<h3 class="fw-bold">
	  Thêm mới biểu mẫu
	</h3>
  </div>

  <form [formGroup]="form">
	<div class="mt-1">
		<div class="row">
			<div class="col-8">
				<label for="category-title" class="form-label fw-bold">Tên biểu mẫu</label><span class="text-danger">*</span>
				<input nz-input formControlName="title" placeholder="Nhập tên danh mục">

				<div class="text-danger" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
					<div *ngIf="form.get('title')?.errors?.['required']">
						Vui lòng nhập tên biểu mẫu!
					</div>
					<div *ngIf="form.get('title')?.errors?.['maxlength']">
						Tên biểu mẫu không được vượt quá 255 ký tự!
					</div>
				</div>
			</div>
			<div class="col-4">
				<label for="category-title" class="form-label fw-bold">Danh mục</label><span class="text-danger">*</span>
				<div>
					<nz-select formControlName="categoryId" [nzDropdownStyle]="{ 'z-index': 1050 }"
					[nzDropdownClassName]="'custom-dropdown'" nzPlaceHolder="Chọn" style="width: 100%;">
						<nz-option *ngFor="let item of lstCate" [nzLabel]="item.title" [nzValue]="item.id">
						</nz-option>
					</nz-select>
					<div class="text-danger" *ngIf="form.get('categoryId')?.invalid && form.get('categoryId')?.touched">
						<div *ngIf="form.get('categoryId')?.errors?.['required']">
							Vui lòng chọn danh mục!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-2 mb-1">
		<div class="row">
		  <div class="col-8">
			<label class="form-label fw-bold">Nội dung biểu mẫu</label>
			<editor
			  #editor
			  formControlName="content"
			  [init]="editorConfig">
			</editor>
		  </div>
		  <div class="col-4">
			<div class="d-flex align-items-center justify-content-between">
			  <label class="form-label fw-bold">Danh sách thuộc tính</label>
			  <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="Thêm mới thuộc tính"
				nzShape="circle" nzSize="small" (click)="addAttribute(null)">
				<i class="bi bi-plus-circle-dotted"></i>
			  </button>
			</div>
			<nz-list nzBordered nzSize="small">
			  <nz-list-item
				*ngFor="let item of lstAttribuite; let i = index"
				draggable="true"
				class="cursor-pointer d-flex justify-content-between align-items-center"
				(dragstart)="onDragStart($event, item)">
				{{ i+1 }}. {{ item.title }}
				<div class="">
					<i class="bi bi-pencil-square text-primary ms-2" (click)="addAttribute(item.code)" title="Sửa thuộc tính"></i>
					<i class="bi bi-trash text-danger ms-2" (click)="delete(item.code)" title="Xóa thuộc tính"></i>
				</div>
			  </nz-list-item>
			</nz-list>
		  </div>
		</div>
	  </div>

	  <div class="mt-2 mb-1">
		<div class="row">
			<div class="col-8">
				<label for="category-title" class="form-label fw-bold">Mô tả</label>
				<textarea nz-input formControlName="description" placeholder="Nhập mô tả"></textarea>
			</div>
		</div>
	  </div>
  </form>

  <div *nzModalFooter>
	<button (click)="onBack()" class="btn btn-light btn-sm me-1" type="button"
				id="btn-add-category">
				<i class="fa fa-times" aria-hidden="true"></i> Đóng
			</button>
			&nbsp; &nbsp;
			<button (click)="save()" class="btn btn-success btn-sm me-1">
				<i class="fa fa-floppy-o" aria-hidden="true"></i> Cập nhật
			</button>
  </div>
