<nz-page-header [nzGhost]="false">
	<nz-page-header-title>Danh mục form</nz-page-header-title>
	<nz-page-header-extra>
	  <nz-space>
		<button *nzSpaceItem nz-button nzType="primary" (click)="addCategory(null)">Thêm mới</button>
	  </nz-space>
	</nz-page-header-extra>
  </nz-page-header>

  <nz-table #basicTable [nzData]="listOfData">
	<thead>
	  <tr>
		<th>Tên danh mục</th>
		<th>Mô tả</th>
		<th><i class="bi bi-gear-wide"></i></th>
	  </tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of basicTable.data">
		  <td>{{ data.name }}</td>
		  <td>{{ data.description }}</td>
		  <td>
			<a nz-dropdown [nzDropdownMenu]="menu">
				<i class="bi bi-three-dots-vertical"></i>
			  </a>
			  <nz-dropdown-menu #menu="nzDropdownMenu">
				<ul nz-menu nzSelectable>
				  <li nz-menu-item (click)="addCategory(null)"><i class="bi bi-gear text-primary"></i> Sửa</li>
				  <li nz-menu-item (click)="delete(null)"><i class="bi bi-trash text-danger"></i> Xóa</li>
				</ul>
			  </nz-dropdown-menu>
		  </td>
		</tr>
	</tbody>
  </nz-table>

