<nz-page-header [nzGhost]="false">
	<nz-page-header-title>Biểu mẫu</nz-page-header-title>
	<nz-page-header-extra>
		<nz-space>
			<ng-container *nzSpaceItem>
				<button *abpPermission="'EForm.Forms.Create'" nz-button nzType="primary" (click)="addForm(null)">Thêm mới</button>
			</ng-container>
		</nz-space>
	</nz-page-header-extra>
</nz-page-header>

<nz-table #basicTable [nzData]="dataResultPaging.items" [nzShowPagination]="true" [nzFrontPagination]="false"
	nzShowSizeChanger [nzLoading]="loading" [nzTotal]="totalCount" (nzQueryParams)="onQueryParamsChange($event)"
	[nzScroll]="{ x: '1200px' }">
	<thead>
		<tr>
			<th style="width: 5%;">STT</th>
			<th style="width: 30%;">Tên biểu mẫu</th>
			<th style="width: 55%;">Mô tả</th>
			<th style="width: 10%; text-align: center;"><i class="bi bi-gear-wide"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of basicTable.data; let i = index">
			<td>{{ i+1 }}</td>
			<td class="clickable-title" (click)="previewForm(data)" title="Xem trước biểu mẫu">{{ data.title }}</td>
			<td>{{ data.description }}</td>
			<td style="text-align: center;">
				<a nz-dropdown [nzDropdownMenu]="menu">
					<i class="bi bi-three-dots-vertical"></i>
				</a>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu nzSelectable>
						<li *abpPermission="'EForm.Forms.Edit'" nz-menu-item (click)="addForm(data.id)"><i class="bi bi-gear text-primary"></i> Sửa</li>
						<li *abpPermission="'EForm.FormRecords'" nz-menu-item (click)="viewRecords(data.id)"><i class="bi bi-card-checklist text-primary"></i> Xem kết quả nộp</li>
						<li nz-menu-item (click)="copySubmitLink(data.id)"><i class="bi bi-link-45deg text-primary"></i> Sao chép link nộp form</li>
						<li nz-menu-item (click)="showQrCode(data.id, data.title)"><i class="bi bi-qr-code text-primary"></i> Hiện mã QR</li>
						<li *abpPermission="'EForm.Forms.Create'" nz-menu-item (click)="duplicateForm(data.id)"><i class="bi bi-files text-primary"></i> Nhân bản form</li>
						<li *abpPermission="'EForm.Forms.Delete'" nz-menu-item (click)="delete(data.id)"><i class="bi bi-trash text-danger"></i> Xóa</li>
					</ul>
				</nz-dropdown-menu>
			</td>
		</tr>
	</tbody>
</nz-table>